<ion-header>
  <ion-navbar>
    <ion-title>
      Viva anuncios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-grid>
     <ion-row>
       <ion-col *ngFor="let inmueble of inmuebles" col-6>
         <ion-card>       
           <img *ngIf="inmueble.pictures[0].hasOwnProperty('url')"
           src="{{inmueble.pictures[0].url}}">
         <ion-card-content>
           <h2 *ngIf="inmueble.geo.hasOwnProperty ('name')">{{inmueble.geo.name}}</h2>
           <h2 *ngIf="inmueble.price.hasOwnProperty ('formattedAmount')">{{inmueble.price.formattedAmount}}</h2>
         </ion-card-content>
        </ion-card>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
